In [1]:
print(10+20)

30

In [3]:
def add():
    print("나를 호출하셨군요...")

In [4]:
add()

나를 호출하셨군요...

In [24]:
def add2(x, y):
    print("두 수의 합은: ",x+y)
def minus(x, y):
    print("두수의 차는:", x-y)
def mul(x, y):
    print("두수의 곱은:", x*y)
def div(x, y):
    print("두수의 나눗셈은:", x/y)

In [25]:
mul(100, 200)

두수의 곱은: 20000

In [27]:
num1 = input("숫자1 입력: ")
num2 = input("숫자2 입력: ")

숫자1 입력: 200
숫자2 입력: 100

In [29]:
n1 = int(num1)
n2 = int(num2)

In [33]:
print(n1 + n2)

300

In [36]:
oper = input("연산자를 입력:+, -. X, / 중 하나")

연산자를 입력:+, -. X, / 중 하나/

In [37]:
if oper == "+":
    add2(n1, n2)
if oper == "-":
    minus(n1, n2)
if oper == "X":
    mul(n1, n2)
if oper == "/":
    div(n1, n2)

두수의 나눗셈은: 2.0

In [46]:
def foodTotal(person) :
    price = 5000
    return person * price

In [68]:
total = foodTotal(11)

In [69]:
if(total >= 50000):
    print("당신의 금액은 ", total-5000, "원 입니다")
else :
    print("당신의 금액은 ", total, "원 입니다")

당신의 금액은  50000 원 입니다

In [57]:
hobby = ["승마","달리기","등산","먹기"]

In [58]:
for X in hobby:
    print(X)

승마
달리기
등산
먹기

In [59]:
hobby[3]="걷기"

In [61]:
hobby.append("날기")

In [62]:
for X in hobby:
    print(X)

승마
달리기
등산
걷기
날기

In [63]:
print(hobby[0:2])

['승마', '달리기']

In [80]:
email = ["hera@naver.com"]

In [81]:
email2 =[]

In [83]:
data1 = input("이메일 입력1")

이메일 입력1gardenpro@daum.net

In [84]:
data2 = input("이메일 입력2")

이메일 입력2korea@korea.co.kr

In [85]:
email.append(data1)

In [86]:
email.append(data2)

In [88]:
len(email)

3

In [89]:
email

['hera@naver.com', 'gardenpro@daum.net', 'korea@korea.co.kr']

In [99]:
for e in email:
    if (e.endswith(".com")):
        print(e, "는 닷컴회사이군요.")
    elif(e.endswith(".net")):
        print(e, "는 닷넷회사이군요.")
    elif(e.endswith(".kr")) :
        print(e, "는 한국에 있는 회사이군요.")
    else:
        print(e, "는 잘 모르겠어요.")

hera@naver.com 는 닷컴회사이군요.
gardenpro@daum.net 는 닷넷회사이군요.
korea@korea.co.kr 는 한국에 있는 회사이군요.